.header {
  background: url(https://avatars.mds.yandex.net/get-zen_doc/3769481/pub_5efae66b5448d17a7e76fce6_5efae8e2d412b02fa1e859bc/scale_1200) no-repeat ;
  background-size: cover;
  background-position: 0px;
  padding-bottom: 30px;
}